.jt-menu {
    color: #000;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.jt-menu a:focus {
    outline: thin dotted;
}

.jt-menu a:active, a:hover {
    outline: 0;
}

.jt-menu .nav-list li:first-child {
    display: list-item;
}

.jt-menu *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.jt-menu ul {
    padding: 0;
}

.jt-menu li {
    list-style-type: none;
}


.jt-menu  a {
    color: #000;
    text-decoration: none;
}

.jt-menu a img {
    vertical-align: top;
}

.jt-menu  ::selection {
    background-color: #000;
    color: #fff;
}

.jt-menu  .main-header {
    *zoom: 1;
    -webkit-transition: padding 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: padding 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: padding 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    position: relative;
    padding: 1.5em 0 0.5em;
    z-index: 1;
}

.jt-menu  .main-header:before, .main-header:after {
    content: " ";
    display: table;
}

.jt-menu .main-header:after {
    clear: both;
}

.jt-menu .button {
    -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: block;
    padding: 0.825em 1.5em;
    font-size: 0.875em;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
}

.jt-menu .button:hover {
    background-color: #000;
    color: inherit;
}

.jt-menu .main-nav {
    position: relative;
    z-index: 1;
    min-height: 2.4375em;
    overflow: hidden;
}

.jt-menu .main-nav .handle {
    cursor: pointer;
    display: none;
}

.jt-menu .nav-list {
    *zoom: 1;
    position: relative;
    float: left;
    left: 50%;
    margin: 0;
    white-space: nowrap;
}

.jt-menu .nav-list:before, .nav-list:after {
    content: " ";
    display: table;
}

.jt-menu .nav-list:after {
    clear: both;
}

.jt-menu .nav-list-item {
    -webkit-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    float: left;
    position: relative;
    right: 50%;
    border-color: #000;
}

.jt-menu .nav-button {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.jt-menu  .nav-button {
    border-color: #fff;
    color: #fff;
}

.jt-menu .nav-button:hover {
    background-color: #fff;
    border-color: rgba(255,255,255,0);
    color: #000;
}

.jt-menu .main-nav {
    position: absolute;
    top: 3em;
    right: 2em;
    text-align: right;
}


@media screen and (min-width: 321px) {

    .jt-menu .main-header {
        padding-top: 2em;
        padding-bottom: 1em;
    }

}

@media screen and (max-device-width: 480px) {

    .jt-menu {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}

@media screen and (min-width: 481px) {

    .jt-menu .main-header {
        padding-top: 3em;
        padding-bottom: 2em;
    }

}


@media (max-width: 768px) {

    .jt-menu .nav-list li:first-child {
        display: none;
    }

    .jt-menu .main-nav .handle {
        display: inline-block;
        border-style: solid;
        border-width: 2px;
        float: right;
    }

    .jt-menu .main-nav:hover .handle {
        border-color: inherit;
    }

    .jt-menu .main-nav:hover .handle {
        border-color: rgba(0,0,0,0);
    }

    .jt-menu .main-nav:hover .nav-list-item {
        opacity: 1;
    }

    .jt-menu .nav-list {
        float: left;
        top: 2px;
        left: 2px;
    }

    .jt-menu .nav-list-item {
        opacity: 0;
        right: 0;
        float: left;
        border: none;
    }

    .jt-menu .nav-button {
        display: inline-block;
    }
}
